body{
    /* background: purple; */
    /* background: #DAB1DA; */
    background: #D8BFD8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    /* background-color: #333; */
    padding: 10px 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        border-bottom: 1px solid #444;
    }

    .nav-links a {
        padding: 14px 20px;
    }
}